.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 90px;
    .textDiv{
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 15px 15px;
      min-height: 70px;
      height: auto;
      p{
        font-family: sans-serif;
        margin: 0px;
      }
  }
}
